@import url('https://fonts.googleapis.com/css2?family=Fruktur:ital@1&family=Lora&display=swap');

:root {
    --primary-color: #3E7CB1;
    --secondary-color: #CBA135;
    --accent1-color: #000000;
    --accent2-color: #FBFBFB;
    
    --heading-font: 'Fruktur', cursive;
    --paragraph-font: 'Lora Regular 400', serif;

    --nav-background-color:#3E7CB1;
    --nav-link-color: #000000;
    --nav-hover-link-color: #000000;
    --nav-hover-background-color: #CBA135;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
}



body {
    font-family: var(--paragraph-font);
    max-width: 100%;
    padding: 20px;
}


header {
    padding: 10px;
    background-color: var(--accent2-color);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid black;
    max-width: 1000px;
    width: 650px;
}

.navigation {
    display: flex;
    list-style: none;
    flex: 1 1 100%;
}

.logo{
    margin: 0 0.25rem 0 1rem;
    width: 200px;
    height: auto;
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    width: 100%;
    height: auto;
    position: relative;
}

.herobanner {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 95rem;
    height: 40rem;
}

.hero h1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
    text-align: center;
    z-index: 1;
}

.hero article {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
}

.hero article div h2 {
    margin-left: 3%;
}

.hero-content {
    display: flex;
    flex-direction: row;
}

.hero-content img {
    width: 10%;
    height: 100%;
    margin: 0% 5% 0% 1%;
}

.hero-content p {
    color: rgb(31, 31, 48);
    text-shadow: 1px 1px #000000;
}

section img {
    width: 20px;
    height: auto;
}


 article img {
    display: block;
    width: 100%;
    height: auto;
    float: right;
}
 
.happy-employee {
    float: right;
    padding: rem;
}

h1 {
    top: 10px;
}



article img {
    float:right;
}

.article-paragraph {
    color: black;
}

.history, .five-images{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.history {
    margin-top: 2rem;
}

.history h2, .five-images h2{
    text-align: center;
}

.history div, .five-images div{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.history div img {
    height: 20rem;
    width: auto;
}

.five-images figure {
    margin: 5px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.five-images figure figcaption {
    text-align: center;
}

.five-images figure img {
    height: 119px;
    width: auto;
}


footer {
    background-color: var(--primary-color);
    margin-top: 20px;
    height: 80px;
}


.footer-display {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    padding-left: 20%;
    justify-content: space-evenly;
}