@import url('https://fonts.googleapis.com/css2?family=Fruktur:ital@1&family=Lora&display=swap');

:root {
    --primary-color: #3E7CB1;
    --secondary-color: #CBA135;
    --accent1-color: #000000;
    --accent2-color: #FBFBFB;
    
    --heading-font: 'Fruktur', cursive;
    --paragraph-font: 'Lora Regular 400', serif;

    --nav-background-color:#3E7CB1;
    --nav-link-color: #000000;
    --nav-hover-link-color: #000000;
    --nav-hover-background-color: #CBA135;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
}



body {
    font-family: var(--paragraph-font);
    max-width: 100%;
    padding: 20px;
}


header {
    padding: 10px;
    background-color: var(--accent2-color);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid black;
    max-width: 1000px;
    width: 650px;
}

.navigation {
    display: flex;
    list-style: none;
    flex: 1 1 100%;
}

.logo{
    margin: 0 0.25rem 0 1rem;
    width: 200px;
    height: auto;
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

section img {
    width: 20px;
    height: auto;
}


.schedule {
    width: 69%;
    text-align: center;
    margin: 10%;
}

.trips {
    display: flex;
    flex-direction: column;
    margin: 10%;
    width: 69%;
    text-align: center;
    border: solid steelblue;
    background-color: rgb(54, 49, 33);
}

.trips figure img {
    width: 100%;
}

.trips figure {
    text-align: center;
}

.trips-imgs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

figcaption {
    text-align: center;
    color: rgb(197, 248, 248);
}


table, th, td {
    border:1px solid black;
  }

.table-width {
    width: 100%;
}

.booktrip{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 69%;
    margin: auto;
    margin-top: 4%;
}




.booktrip button {
     margin-left: 5%; 
}

footer {
    background-color: var(--primary-color);
    margin-top: 20px;
    height: 80px;
}


.footer-display {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    padding-left: 20%;
    justify-content: space-evenly;
}